<mat-card>
<h2>TASKS</h2>
<ul class='tasks'>
    <li *ngFor="let task of tasks">
        <mat-card>
            <mat-card-title>
                Task {{task.ID}}
            </mat-card-title>
            <mat-card-content>
                <div mat-line>{{task.description}}</div>
            </mat-card-content>
            <mat-card-actions align="end">
                <mat-button-toggle-group value={{task.completion}}>
                    <mat-button-toggle value="true" (change)="onChange(task.ID, true)">Complete</mat-button-toggle>
                    <mat-button-toggle value="false" (change)="onChange(task.ID, false)">Incomplete</mat-button-toggle>
                </mat-button-toggle-group>
                <span class=flex></span>         
                <button mat-icon-button color="primary" aria-label="Add Task" matTooltip="Add a task" routerLink="/task-edit/{{task.ID}}">
                    <mat-icon>create</mat-icon>
                </button>       
            </mat-card-actions>
        </mat-card>
    </li>
</ul>
</mat-card>
