<mat-toolbar>
    <h1 routerLink="/dashboard">{{title}}</h1>
    <span class="fill-space"></span>
    <button mat-icon-button color="primary" aria-label="Task List" matTooltip="Task List" routerLink="/dashboard">
        <mat-icon>library_books</mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Add Task" matTooltip="Add a task" routerLink="/task-create">
        <mat-icon>add_circle</mat-icon>
    </button>
    <button mat-raised-button aria-label="Login" matTooltip="Login" *ngIf="!claims" (click)="login()">
        LOGIN
    </button>
    <button mat-raised-button aria-label="Logout" matTooltip="Logout" *ngIf="claims" (click)="logout()">
        LOGOUT
    </button>
</mat-toolbar>
<router-outlet></router-outlet>